<configuration>

  <system.webServer>
    
    <!-- indicates that the index.js file is a node.js application 
    to be handled by the iisnode module -->
    <system.web>
    <compilation debug="true" targetframework="10.6"/>
    <httpRuntime targetframework="10.6"
    </system.web>
    <handlers>
    <remove name ="ExtensionlessUrlHandler-Integrated-4.0"/>
    <remove name ="OPTIONSVerbHandler"/>
    <remove name ="TRAVEVerbHandler"/>
    <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="system.web.handlers.TransferRequestHandler"
    preCondition ="integratedMode, runtimeVersion4.0"/>
    </handlers>
    
    <!-- adds index.js to the default document list to allow 
    URLs that only specify the application root location, 
    e.g. http://mysite.antarescloud.com/ -->
    
    <defaultDocument enabled="true">
      <files>
        <add value="index.js" />
      </files>
    </defaultDocument>
    <customErrorsmode="off" />
    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
</configuration>

